.list_container {
  height: 100vh;
  width: 100%;
  padding: 6rem 0rem 2rem 0rem;
}
.home_btn {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.home_btn i {
  transition: all 0.2s ease-in-out;
}
.home_btn:hover {
  background: #111212;
}
.home_btn:hover i {
  color: whitesmoke;
}
.dark .home_btn:hover i {
  color: #111212;
}
.list_container .title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.delete {
  position: absolute;
  left: -1.75rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1rem;
  color: #111212;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.card:hover .delete {
  opacity: 0.9;
}
.dark .delete {
  color: whitesmoke;
}
