.word {
  font-size: 7rem;
}
.meaning {
  font-size: 2rem;
}
.fav_btn {
  padding: 0.5rem 0.75rem;
  margin-top: 3rem;
  background: transparent;
  color: #111212;
  font-size: 1.25rem;
  font-weight: 500;
  border: 3px solid #111212;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.fav_btn:hover {
  background: #111212;
  color: whitesmoke;
}
.refresh {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%) rotate(0);
  font-size: 2rem;
  color: #111212;
  cursor: pointer;
  transition: all 0s;
}
.refresh.rotate {
  transform: translateX(-50%) rotate(360deg);
  transition: all 0.4s ease-in-out;
}
